header {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--neutral);
    height: 60px;
    box-shadow: var(--shadow-medium);
}

header > section {
    display: flex;
    height: 100%;
    padding: 12px;
    gap: 10px;
}

#left {
    width: 300px;
    padding-left: 20px;
    align-items: center;
    > #logo {
        height: 100%;
        cursor: pointer;
    }
    > p {
        font-size: 22px;
        font-weight: 700;
    }
    > input {
        flex: 1;
    }
}

#right {
    gap: 10px;
    padding-right: 20px;
}

.icon-btn {
    cursor: pointer;
    height: 100%;
    padding: 5px;
    > svg {
        height: 100%;
        aspect-ratio: 1;
        > path {
            fill: white;
        }
    }
}

#user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    background-image: var(--secondary-gradient);
    border-radius: 10px;
    > #profile-picture {
        height: 100%;
        cursor: pointer;
        border-radius: 10px;
    }
}