nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: var(--neutral);
    width: 300px;
    padding: 20px;

    > * {
        width: 100%;
    }
}

#create-btn {
    background-image: var(--secondary-gradient);
}