:root {
    --primary: #FFF;
    --primary-opp: #000;
    --neutral: #1b1d1d;
    --neutral-lighter: #848f8f;
    --neutral-light: #2e3333;
    --neutral-dark: #131514;
    --secondary-gradient: linear-gradient(90deg,#4dbc5d,#00a694);
    --shadow-small: 2px 2px 5px rgba(0, 0, 0, 0.15);
    --shadow-medium: 5px 5px 10px rgba(0, 0, 0, 0.15);
}